<style>
  .f-info-brand {
    font-family: "Arial", sans-serif;
    font-size: 1rem;
    color: #333;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  .f-info-brand a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }

  .f-info-brand a:hover {
    color: #fe424d;
  }

  .f-info-socials i {
    color: black;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s, transform 0.3s;
  }

  .f-info-socials i:hover {
    color: #fe424d;
    transform: scale(1.1);
  }

  .f-info-links {
    text-align: center;
  }

  .f-info-links a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 5px;
    transition: color 0.3s, transform 0.3s;
  }

  .f-info-links a:hover {
    color: #fe424d;
    transform: translateY(-2px);
  }
</style>

<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://x.com/01e8b3cc04a542b" target="_blank">
        <i class="fa-brands fa-square-twitter"></i>
      </a>
      <a href="https://github.com/PrateekAgrawal007" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/prateekagrawal007/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy; 2025 Wanderlust. All Rights Reserved.</div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
